/****** PLACE YOUR CUSTOM STYLES HERE ******/

.display-flex {
  display: flex;
}

.p-l-10 {
  padding-left: 10px;
}

.p-top-0 {
  padding-top: 0;
}

.p-bottom-0 {
  padding-bottom: 0;
}

.weight-bold {
  font-weight: 700;
}

.has-dropdown:after {
  top: 23px;
}

.icon-tabs .rooms .room {
  width: 19%;
}

.room-tab {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.room-label {
  margin-top: 30px;
}

.rooms {
  text-align: center;
}

.clean-benefits li {
  list-style: disc;
}

@media screen and (max-width: 800px) {
  .icon-tabs .rooms .room {
    width: 40%;
  }
}

.clean-benefits {
  margin-left: 20px;
}

.things-to-know {
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
}

.about-text {
  margin-bottom: 10px;
  display: block;
}

.residential-main {
  padding: 30px 0;
}

.residential-text {
  margin-bottom: 30px;
  display: block;
  text-align: left;
}

.residential-title {
  height: 500px;
}

.image-tile {
  color: #666666;
}

.soft-scrub-image {
  width: 25% !important;
}

.residential-title .background-image-holder { 
  top: -250px !important;
}

a {
  cursor: pointer;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item {
  margin-bottom: 15px;
}

.footer-img {
  opacity: unset;
  height: 75px;
}

.product-item {
  display: flex;
  align-items: center;
}

.doterra-img {
  width: 50% !important;
  height: instrinsic;
}

.call-in-cleans {
  margin-top: 24px;
}

.product-img-container {
  display: flex !important;
  justify-content: center;
}

@media all and (max-width: 767px) {
  .product-item {
    flex-direction: column;
  }

  .offset-product .description-container {
    order: 2;
  }

  .offset-product .image-container {
    order: 1;
  }
}

@media all and (max-width: 767px) {
  .mobile-toggle.visible-xs {
    border-left: none !important;
    display: flex !important;
    align-items: center;
    border: none;
    height: 100px;
  }

  nav.bg-dark .mobile-toggle {
    border: none !important;
  }
}